<div>
    <h1>Accounts</h1>
    <h2>Get Account</h2>
    <form>
        <input type="text" id="accountid" name="accountid" placeholder="Account ID" /><br />
        <input type="text" id="owner" name="owner" placeholder="Owner ID" /><br />
        <input type="text" id="balance" name="balance" placeholder="Balance" /><br />
    </form>
    <button id="submitGetButton" onclick="onClickSubmitGetButton()">Get Account</button>

    <h2>Create Account</h2>
    <form>
        <input type="text" id="userid" name="userid" placeholder="User ID" /><br />
    </form>
    <button id="submitCreateButton" onclick="onClickSubmitCreateButton()">Create Account</button>
    <p id="submitResult"></p>

    <h2>Deposit</h2>
    <form>
        <input type="text" id="depositaccountid" name="depositaccountid" placeholder="Account ID" /><br />
        <input type="text" id="depositamount" name="depositamount" placeholder="Amount" /><br />
    </form>
    <button id="submitDepositButton" onclick="onClickSubmitDepositButton()">Deposit</button>
    <p id="depositResult"></p>

    <h2>Withdraw</h2>
    <form>
        <input type="text" id="withdrawaccountid" name="withdrawaccountid" placeholder="Account ID" /><br />
        <input type="text" id="withdrawamount" name="withdrawamount" placeholder="Amount" /><br />
    </form>
    <button id="submitWithdrawButton" onclick="onClickSubmitWithdrawButton()">Withdraw</button>
    <p id="withdrawResult"></p>
</div>

<script>
    function onClickSubmitGetButton() {
        $.ajax({
            url: "/api/Account/" + $("#accountid").val(),
            type: "GET",
            contentType: "application/json",
            processData: false,
            success: function (data, textStatus, jqXHR) {
                $("#owner").val(data.Owner);
                $("#balance").val(data.Balance);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function onClickSubmitCreateButton() {
        $.ajax({
            url: "/api/Account/new",
            type: "POST",
            contentType: "application/json",
            processData: false,
            data: JSON.stringify({
                "AccountID": 0,
                "Owner": $("#userid").val(),
                "Balance": 0
            }),
            success: function (data, textStatus, jqXHR) {
                $("#submitResult").text("Account successfully created with ID " + data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $("#submitResult").text("Error: Account creation failed");
            }
        });
    }

    function onClickSubmitDepositButton() {
        $.ajax({
            url: "/api/Account/" + $("#depositaccountid").val() + "/Deposit/" + $("#depositamount").val(),
            type: "GET",
            contentType: "application/json",
            processData: false,
            success: function (data, textStatus, jqXHR) {
                $("#depositResult").text("Successfully Deposited " + $("#depositamount").val());
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $("#depositResult").text("Error: Deposit failed");
            }
        });
    }
    function onClickSubmitWithdrawButton() {
        $.ajax({
            url: "/api/Account/" + $("#depositaccountid").val() + "/Withdraw/" + $("#withdrawamount").val(),
            type: "GET",
            contentType: "application/json",
            processData: false,
            success: function (data, textStatus, jqXHR) {
                $("#withdrawResult").text("Successfully Withdrew " + $("#withdrawamount").val());
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $("#withdrawResult").text("Error: Withdrawal failed");
            }
        });
    }
</script>