<div class="jumbotron">
    <h1>Bank Web Application</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p><a class="btn btn-default" href="/User">Users &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Accounts</h2>
        <p><a class="btn btn-default" href="/Account">Accounts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Transactions</h2>
        <p><a class="btn btn-default" href="/Transaction">Transactions &raquo;</a></p>
    </div>
</div>
