<div>
    <h1>Users</h1>
    <h2>Get User</h2>
    <form>
        <input type="text" id="id" name="id" placeholder="User ID" /><br />
        <input type="text" id="fname" name="fname" placeholder="First Name" /><br />
        <input type="text" id="lname" name="lname" placeholder="Last Name" /><br />
    </form>
    <button id="submitGetButton" onclick="onClickSubmitGetButton()">Get User</button>

    <h2>Create User</h2>
    <form>
        <input type="text" id="fname2" name="fname2" placeholder="First Name" /><br />
        <input type="text" id="lname2" name="lname2" placeholder="Last Name" /><br />
    </form>
    <button id="submitCreateButton" onclick="onClickSubmitCreateButton()">Create User</button>
    <p id="submitResult"></p>
</div>

<script>
    function onClickSubmitGetButton() {
        $.ajax({
            url: "/api/User/" + $("#id").val(),
            type: "get",
            contentType: "application/json",
            processData: false,
            success: function (data, textStatus, jqXHR) {
                $("#fname").val(data.FName);
                $("#lname").val(data.LName);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }

    function onClickSubmitCreateButton() {
        $.ajax({
            url: "/api/User/new",
            type: "POST",
            contentType: "application/json",
            processData: false,
            data: JSON.stringify({
                "UserID": 0,
                "FName": $("#fname2").val(),
                "LName": $("#lname2").val()
            }),
            success: function (data, textStatus, jqXHR) {
                $("#submitResult").text("User successfully created");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $("#submitResult").text("Error: User creation failed");
            }
        });
    }
</script>